.caja{
    margin-top: 15%;
}
body{
    background-image: url(../img/superior.png);
    background-position: top;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
}
#imagen{
    margin-top: 30%;
}
.cajaRegistro{
    margin-top: 5%;
}