*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url(../img/superior.png),url(../img/inferior.png);
    background-position: top, bottom;
    background-size: contain,contain;
    background-repeat: no-repeat;
}
hr{
    margin-left: 10%;
    margin-right: 10%;
}
.carta-productos{
    transform: scale(1.05);
    transition: all 1.5s;
    cursor:pointer;
}
#imgCard:hover{
    opacity: 0.8;
    transition: all 1.5s;
}
