
form{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1%;
}
h1{
    text-align: center;
}
.datos{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    margin-top: 1%;
    text-align: center;
}
.resultado{
    text-align: center;
    margin-left: 40%;
    background-color: aliceblue;
    margin-right: 40%;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.fecha{
    display: inline-block;
    float: right;
}